**/target
**/build
**/.svn
**/bin/
**/.classpath
**/.project
**/.settings
**/.springBean
**/*.iml
**/*.idea
**/.externalToolBuilders
**/test-output

*.sublime-workspace

*.iml
.gitconfig
/bower_components
/target
/build
/.svn
/bin/
/.classpath
/.project
/.settings
/.springBean
/*.iml
/*.idea
/.externalToolBuilders
/test-output

**/gen-java

.DS_Store
Thumbs.db
db.json
debug.log
node_modules/
public/
.deploy/